.navbar {
    background-color: rgba(202, 220, 255, 0.959);
    position: relative;
}

.nav-link h2,
.nav-link span {
    color: black;
}

body {
    background: hsla(221, 100%, 96%, 1);
    background: linear-gradient(180deg, hsla(221, 100%, 96%, 1) 0%, hsla(231, 100%, 96%, 1) 42%, hsla(223, 100%, 97%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(221, 100%, 96%, 1) 0%, hsla(231, 100%, 96%, 1) 42%, hsla(223, 100%, 97%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(221, 100%, 96%, 1) 0%, hsla(231, 100%, 96%, 1) 42%, hsla(223, 100%, 97%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E9F0FF", endColorstr="#EAEDFF", GradientType=1);
}

footer {
    background: hsla(219, 100%, 83%, 1);
    background: linear-gradient(270deg, hsla(219, 100%, 83%, 1) 0%, hsla(230, 100%, 91%, 1) 42%, hsla(225, 100%, 92%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    background: -moz-linear-gradient(270deg, hsla(219, 100%, 83%, 1) 0%, hsla(230, 100%, 91%, 1) 42%, hsla(225, 100%, 92%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    background: -webkit-linear-gradient(270deg, hsla(219, 100%, 83%, 1) 0%, hsla(230, 100%, 91%, 1) 42%, hsla(225, 100%, 92%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A9C7FF", endColorstr="#CFD7FF", GradientType=1);
}

button {
    position: relative;
    height: 45px;
    width: 150px;
    color: #030303;
    border: 2px #7992b8 solid;
    border-radius: 4px;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.fill:hover {
    color: rgb(255, 255, 255);
}

.card {
    background: hsla(219, 100%, 83%, 1);
    background: linear-gradient(90deg, hsla(219, 100%, 83%, 1) 0%, hsla(230, 100%, 91%, 1) 42%, hsla(225, 100%, 92%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(219, 100%, 83%, 1) 0%, hsla(230, 100%, 91%, 1) 42%, hsla(225, 100%, 92%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(219, 100%, 83%, 1) 0%, hsla(230, 100%, 91%, 1) 42%, hsla(225, 100%, 92%, 1) 77%, hsla(224, 100%, 95%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A9C7FF", endColorstr="#CFD7FF", GradientType=1);
}

.fill:before {
    content: "";
    position: absolute;
    background: rgba(189, 211, 255, 0.959);
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
    top: 0;
}